@{
    ViewData["Title"] = "Admin Home";
}

<h2>Admin Home</h2>

<div>
    <button onclick="location.href='@Url.Action("OrderManagement", "Admin")'" class="btn btn-primary">Order Management</button>
    <button onclick="location.href='@Url.Action("ProductManagement", "Admin")'" class="btn btn-primary">Product Management</button>
    <button onclick="location.href='@Url.Action("CouponManagement", "Admin")'" class="btn btn-primary">Coupon Management</button>
</div>
