@{
    Layout = "_LayoutAdmin";
}
@model List<Product>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

@{
    var message = ViewBag.Result as string;
}

@if (message != null)
{
    <div class="alert alert-info">
        @message
    </div>
}
else
{
    <body>
        <div class="container mt-5">
            <h1 class="mb-4">Product Listings</h1>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                           
                            <img src="@Url.Action("GetImage", new { id = item.Id })" class="card-img-top" alt="Product Image">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">Rs @item.Price</p>
                                <a href="#" class="btn btn-primary">Edit</a>
                                <a href="#" class="btn btn-primary">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    </body>
}
</html>
