@using Syncfusion.EJ2

@section ControlsSection {
    <div class="col-lg-12 control-section card-control-section flip_card_layout">
        <div class="e-card-resize-container">
            <div class='row'>
                <div class="row card-layout">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <!-- Flip Card Layout -->
                        <div tabindex="0" class="e-card e-business e-flip" id="card_flip" title="Click to flip the Card">
                            <div class="e-card-header e-front">
                                <div class="e-card-header-caption">
                                    <div class="e-card-header-title">Mayumi Ohno</div>
                                    <div class="e-card-sub-title">Marketing Representative</div>
                                </div>
                            </div>
                            <div class="e-card-actions e-front">
                                <button class="e-card-btn">
                                    <div class="e-email e-card-btn-txt">mayum@mail.com</div>
                                </button>
                                <button class="e-card-btn">
                                    <div class="e-email e-card-btn-txt">011-232-221</div>
                                </button>
                                <button class="e-card-btn">
                                    <div class="e-email e-card-btn-txt">www.mayum.com</div>
                                </button>
                            </div>
                            <div class="e-card-header e-back">
                                <div class="e-card-header-caption">
                                    <div class="e-card-header-title">Address</div>
                                    <div class="e-card-sub-title">
                                        P.O. Box 78934
                                        <br /> New Orleans
                                        <br />Los Angeles
                                        <br /> Postal Code: 70117
                                        <br /> USA
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <div tabindex="0" class="e-card e-business e-flip" id="card_flip_profile" title="Click to flip the Card">
                            <div class="e-card-header e-back">
                                <div class="e-card-header-caption">
                                    <div class="e-card-header-title">Address</div>
                                    <div class="e-card-sub-title">
                                        970 Drummond Street
                                        <br /> New York
                                        <br />New Jersey
                                        <br /> Postal Code: 07102
                                        <br /> USA
                                    </div>
                                </div>
                            </div>
                            <div class="e-card-front e-front">
                                <div class="e-card-header e-card-right" style="justify-content:flex-end">
                                    <div class="e-card-header-image"></div>
                                </div>
                                <div class="e-card-header e-card-right" style="text-align:right;">
                                    <div class="e-card-header-caption">
                                        <div class="e-card-header-title">Creative One</div>
                                    </div>
                                </div>
                                <div class="e-card-header e-card-left" style="text-align:left">
                                    <div class="e-card-header-caption">
                                        <div class="e-card-header-title">John Doe</div>
                                        <div class="e-card-sub-title">Architecture</div>
                                    </div>
                                </div>
                                <div class="e-card-separator e-card-left"></div>
                                <div class="e-card-content e-card-left" style="text-align:left">
                                    <table>
                                        <tr>
                                            <td>johndoe@mail.com</td>
                                        </tr>
                                        <tr>
                                            <td>011-141-221</td>
                                        </tr>
                                        <tr>
                                            <td>www.johndoe.com</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        /* Flip card function for the first card */
        document.getElementById('card_flip').onclick = function (e) {
            var cardEle = e.currentTarget;
            if (cardEle.classList.contains('e-flipped')) {
                cardEle.classList.remove('e-flipped');
            } else {
                cardEle.classList.add('e-flipped');
            }
        };

        /* Flip card on blur for the first card */
        document.getElementById('card_flip').onblur = function (e) {
            var cardEle = e.currentTarget;
            cardEle.classList.remove('e-flipped');
        };

        /* Flip card function for the second card */
        document.getElementById('card_flip_profile').onclick = function (e) {
            var cardEle = e.currentTarget;
            if (cardEle.classList.contains('e-flipped')) {
                cardEle.classList.remove('e-flipped');
            } else {
                cardEle.classList.add('e-flipped');
            }
        };

        /* Flip card on blur for the second card */
        document.getElementById('card_flip_profile').onblur = function (e) {
            var cardEle = e.currentTarget;
            cardEle.classList.remove('e-flipped');
        };
    </script>
}

<style>
    /* Flip card customization */
    .flip_card_layout #card_flip,
    .flip_card_layout #card_flip_profile {
        background-color: #f4f4f4;
        min-height: 300px;
        position: relative;
        text-align: center;
    }

    .e-card.e-flip {
        perspective: 1000px;
    }

    .e-flip .e-front,
    .e-flip .e-back {
        backface-visibility: hidden;
        transition: transform 0.6s;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .e-flip .e-front {
        transform: rotateY(0);
    }

    .e-flip .e-back {
        transform: rotateY(180deg);
    }

    .e-flip.e-flipped .e-front {
        transform: rotateY(-180deg);
    }

    .e-flip.e-flipped .e-back {
        transform: rotateY(0);
    }

    .e-card-header-image {
        background-image: url('https://via.placeholder.com/75');
        background-size: cover;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .e-card-content table td {
        padding: 5px;
    }

    .flip_card_layout {
        max-width: 900px;
        margin: 0 auto;
    }
</style>
